/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 10px 0;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.service-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.service-item h3 {
    color: #4CAF50;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

.contacts {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.call-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF5733;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
    }

    .service-item {
        width: 80%;
        margin: 10px auto;
    }
}